modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
GOOGLE_SHEET_ID = "1L138tP7iWFLNectfQ4LCC5n01dUcwlXMiu_PCAIZp4g"
SENDER_EMAIL = "info@kaseet.com"
ADMIN_EMAIL = "info@kaseet.com"
